/* EntryList */

.entry-item {
  max-width: 100%;
  flex: 0 0 100%;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.entry-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
 
}

.entry-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.entry-text {
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 1.5;
  color: black;  
}

.entry-title {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 3;
  color: black;
}

.entry-box img {
  max-width: 70%;
  height: auto;
  object-fit: contain;
  border-radius: 0;
  margin-bottom: 20px;
  flex: 0 0 auto;
  align-self: center;
}

/* New_entry */

.formular{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  
}

.formular label{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  margin-top: 10px;
}

.formular input{
  margin-top: 5px;
  width: 250px;
  height: 30px;
}

.formular button{
  margin-top: 40px;
  width: 100px;
  height: 30px;
  background-color: gray;
}
.formular_button{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigations Buttons */
.nav-buttons button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}



